<div>
  <div class="grid-100 row controls">
    <div class="grid-30">
      <select ng-options="category as category.name for category in categories" ng-model="selectedCategory" ng-change="limitRecipesByCategory(selectedCategory)">
        <option value="">All Categories</option>
      </select>
    </div>
    <div class="grid-70">
      <div class="flush-right">
        <button ng-click="addRecipe()">+ Add Recipe</button>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="grid-100 row" ng-hide="recipes.length > 0">
    <div class="grid-70">
      <p>No recipes found!</p>
    </div>
  </div>

  <div class="grid-100 row addHover" ng-repeat="recipe in recipes" ng-hide="recipes.length <= 0">
    <a href ="" ng-click="editRecipe(recipe)">
      <div class="grid-70">
        <p>
          {{recipe.name}}
        </p>
      </div>
    </a>
    <div class="hoverBlock">
      <div class="grid-30">
        <div class="flush-right">
          <p>
            <a href="" ng-click="editRecipe(recipe)"> <img src="images/edit.svg" height="12px"> Edit </a>
            <a ng-click="deleteRecipe(recipe)" class="no-action-link"> <img src="images/delete.svg" height="12px"> Delete </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
